@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 100 900;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 100 900;
  src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
}

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    background-color: var(--color-grey-50);
    background-image: url("../public/assets/images/pattern-background-mobile-light.svg");
  }

  progress {
    @apply p-1 rounded-2xl;
    -webkit-appearance: none;
    background-color: var(--color-white);
    max-height: 1rem;
  }
  ::-webkit-progress-value {
    background-color: var(--color-purple-600);
    @apply rounded-2xl;
  }
  ::-webkit-progress-bar {
    background-color: var(--color-white);
    @apply rounded-2xl;
  }
  ::-moz-progress-bar {
    background-color: var(--color-purple-600);
    @apply rounded-2xl;
  }
}

@theme {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-50: hsl(220, 38%, 97%);
  --color-grey-500: hsl(219, 13%, 44%);
  --color-blue-50: hsl(225, 100%, 96%);
  --color-blue-100: hsl(220, 50%, 95%);
  --color-blue-300: hsl(216, 47%, 78%);
  --color-blue-500: hsl(223, 100%, 59%);
  --color-blue-850: hsl(215, 27%, 32%);
  --color-blue-900: hsl(216, 25%, 25%);
  --color-blue-950: hsl(214, 24%, 23%);
  --color-green-100: hsl(151, 88%, 94%);
  --color-green-500: hsl(151, 68%, 52%);
  --color-purple-100: hsl(278, 100%, 95%);
  --color-purple-600: hsl(277, 91%, 56%);
  --color-orange-50: hsl(27, 100%, 96%);
  --color-orange-400: hsl(22, 100%, 60%);
  --color-red-500: hsl(0, 82%, 63%);
}

@utility text-preset-1 {
  font-weight: 500;
  font-size: 9rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-1-mobile {
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-2-medium {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-2-medium-mobile {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-2-light {
  font-weight: 300;
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-2-light-mobile {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-3 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
}
@utility text-preset-3-mobile {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0px;
}
@utility text-preset-4 {
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-4-mobile {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0px;
}
@utility text-preset-5-medium {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0px;
}
@utility text-preset-5-regular {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0px;
}
@utility text-preset-5-mobile {
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}
@utility text-preset-6 {
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

@layer components {
  .option-item {
    @apply flex w-full cursor-pointer items-center gap-4 rounded-[0.75rem] p-4 text-start;
    background-color: var(--color-white);
  }

  .form-button {
    @apply flex w-full cursor-pointer justify-center rounded-xl bg-purple-600 p-4 text-white;
  }

  .answer-item {
    @apply grid grid-cols-[1fr_4fr_1fr] cursor-pointer rounded-[0.75rem] p-4 text-start gap-2 w-full min-h-[4.5rem];
    background-color: var(--color-white);
  }
}
